{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li id="contact-toggle" class="masthead__menu-item persist tail">
            <button class="btn btn--inverse contact-btn">Contact</button>
            <!-- Contact dropdown menu -->
            <div class="contact-dropdown" id="contact-dropdown">
              <div class="contact-dropdown__content">
                {% if author.email %}
                  <a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope"></i>Email</a>
                {% endif %}
                {% if author.googlescholar %}
                  <a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar"></i>Google Scholar</a>
                {% endif %}
                {% if author.github %}
                  <a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github"></i>GitHub</a>
                {% endif %}
                {% if author.linkedin %}
                  <a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin"></i>LinkedIn</a>
                {% endif %}
                {% if author.orcid %}
                  <a href="{{ author.orcid }}"><i class="ai ai-orcid"></i>ORCID</a>
                {% endif %}
                {% if author.employer %}
                  <span><i class="fas fa-fw fa-building-columns"></i>{{ author.employer }}</span>
                {% endif %}
                {% if author.location %}
                  <span><i class="fas fa-fw fa-location-dot"></i>{{ author.location }}</span>
                {% endif %}
                {% if author.uri %}
                  <a href="{{ author.uri }}"><i class="fas fa-fw fa-link"></i>Website</a>
                {% endif %}
              </div>
            </div>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>